# Ignorar carpetes de dependències
node_modules/
front/node_modules/
back/node_modules/

# Ignorar fitxers de configuració local
.env
.DS_Store
dist/
# Capacitor files
/capacitor.config.json
/capacitor.config.ts
/android
/ios
